
.Nav {
    width: 100px;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
    background-image: linear-gradient(99deg, rgb(0, 137, 41), rgb(0, 82, 137) 40%, rgb(82, 0, 137) 73%, rgb(137, 0, 23));
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavProfile {
    background-color: black;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}

.NavLinks {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
}

.Logout {
    height: 100px;
    align-items: baseline;
    margin-top: 55vh;
}